#search_block_top p {
	position:absolute;
	left:50%; top:72px;
	width:32%;
	min-height:29px;
	border:#ccc solid 1px;
	background:#fff;
	margin:0 0 0 -16%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 36px 0 5px;
}
#search_block_top p input[type=submit] {
	position:absolute;
	top:50%;
	margin-top: -15px;
	right:5px;
	width:29px;
	height:29px;
	background:url("../../../img/styles/bg_submit.png") 5px 0 no-repeat;
	text-indent:-999em;
	overflow:hidden;
	cursor:pointer;
	border:none;
}
#search_block_top p input[type=submit]:hover, #search_block_top p input[type=submit]:focus {
	background-position:5px -29px;
}
#search_block_top p input[type=text] {
	border:none;
	background:#fff;
	height:29px;
	height:2.9rem;
	line-height:29px;
	line-height:2.9rem;
	line-height: 1;
	font-size:12px;
	font-size:1.2rem;
	width:100%;
	display: block;
	padding: 0;
}
#search_block_top p input[type=text].placeholder {
	color:#ccc;
	font-style:italic;
}

