/* Block manufacturer */
.blockmanufacturer li {border-bottom:1px solid #eee}
	.blockmanufacturer li:last-child {border-bottom:none;}
.blockmanufacturer li.last {	border:none;}
	.blockmanufacturer li a {
		display:block;
		padding:7px 11px 5px 0;
		background: none;
	}


.blockmanufacturer form {margin-top:10px;}
.blockmanufacturer p {
	padding:0;
	text-align:center
}