/* block top currencies */
#header #languages_block_top {
	float:right;
	font-size:10px; font-size:1rem;
	margin-left:3px;
	text-transform:lowercase;
}
#header #languages_block_top p {
	padding:5px; background:#333 url("../../../img/styles/picto_submenu2.png") right center no-repeat; color:#ccc; padding-right:25px; cursor: pointer;
}
/*languages with jquery*/
#countries {
	position: relative;
}
#countries p img {
	vertical-align:bottom;
}
#countries ul {
	display:none;
	z-index: 10000;
	padding:10px;
	color:#ccc; padding:5px;
	background:#333;
	position:absolute;
	right:0;
	left:0;
	text-align:right;
}
#countries:hover ul {display:block;}
	#countries ul li {float:none; padding-right:20px;}
		#countries ul li a {display:block; padding:0; color:#ccc; opacity: 0.5;}
			#countries ul li a:hover, #countries ul li a:focus, #countries ul li.selected a {color:#fff; opacity: 1;}