/* Special style for block cart*/
#cart_block {
	z-index: 10;
	display:none;
	position: absolute;
	right: 0;
	top: 100px;
	font-size:11px; font-size:1.1rem;
	color:#fff;
	width:192px;
	background:#333;
}
#cart_block.cart_block_hover {display:block}
#cart_block h4, #cart_block .title_block {
	display:none;
}

#cart_block  .block_content {padding:10px;}

#cart_block #cart_block_summary {display:none}
#cart_block .quantity-formated {
	display:inline-block;
	margin-right:5px;
	width:15px
}
#cart_block .cart_block_product_name {font-weight:bold}
#cart_block .remove_link {
	float:right;
	display:inline-block;
	margin:1px 0 0 5px;
	height:12px;
	width:12px
}
#cart_block .remove_link a {
	display:inline-block;
	height:12px;
	width:12px;
	background: url(../../../img/styles/picto_delete.png) no-repeat center center;
}
#cart_block .price {
	float:right
}

#cart_block #cart_block_list dl {
	padding-bottom:10px
}
#cart_block #cart_block_list dt {padding:4px 0}
#cart_block #cart_block_list dt a {font-weight:bold;}
#cart_block #cart_block_list a {color:#fff;}
#cart_block #cart_block_list dd {
	display:none;
	margin-left:20px
}

#cart_block #cart-prices {
	padding:5px 0 0;
	line-height:20px;
	font-weight:bold;
	border-top:1px solid #777;
	margin-bottom:10px;
}
#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
	float:right
}
#cart_block #cart_block_shipping_cost {font-weight:normal}

#cart_block #cart-buttons .button_small {display:none;}

p#cart_block_no_products {margin-bottom:10px;}
