#my-account #center_column h4 {
	font-weight:normal;
	font-size:12px; font-size: 1.2rem;
	color:#666
}

#my-account .myaccount_lnk_list {margin:30px 0;}
#my-account .myaccount_lnk_list li {
	font-size:13px; font-size: 1.3rem;
	border-bottom: #eee solid 1px;
}
#my-account .myaccount_lnk_list li a {
	display: block;
	padding: 10px 15px;
	background: url("../img/styles/bg_bullet_li.png") 0 center no-repeat;
	transition:background-position 0.05s;
}
#my-account .myaccount_lnk_list li a:hover,
#my-account .myaccount_lnk_list li a:focus {
	background-position: 5px center;
}
#my-account .myaccount_lnk_list img.icon,
#my-account p img.icon {
	position:relative;
	top:6px;
	left:0
}